
html
{
  font-family : 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
/*HEADER_START*/
header
{
    height: 3em;
    display: flex;
    justify-content: space-between;
}
#logo
{
    width:auto;
    max-height: 45px;
    color: #0065FC;
}

.ul1
{
  display: flex;
  justify-content:space-between;
}

.li1
{
  list-style: none;
  margin-left: 90px;
}
/*logo*/
.reservia
{
  font-size: 1.2em;
}
a
{
  text-decoration: none;
  color: black;
}
header ul li a:hover {
  border-top: 0.2em solid #0065fc;
  padding-top: 2.3em;
  color: #0065fc;
}
.lien .inscrire
{
  font-size: 1em;
}

.inscrire
{
  color:#0065FC;
  font-weight: bold;
}
/*HEADER_END*/
/*SECTION TROUVER*/

h1
{
   margin-top: 2em;
   font-size: 1.3em;
   margin-bottom: 0.2em;
}

h2
{
  font-size: 0.9em;
  font-weight: normal;
}

/*barre de recherche*/
.recherche
{
  width: 32em;
  height: 3em;
  display: flex;
  border-color: #F2F2F2;
}
.icon
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  background-color: #F2F2F2;
  border-radius: 1em 0em 0em 1em;
}
input
{
  font-family: 'raleway', sans-serif;
  margin-left: 2em;
}
.search
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #F2F2F2;
}
#barre
{
  border: none;
}
input:focus
{
  outline: transparent;
}
::placeholder
{
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
/*bouton  bleu rechercher*/
button
{
  height: 3.6em;
  width: 9em;
}
.rechercher
{
  background-color: #0065FC;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius:0em 1em 1em 0em;
  cursor: pointer;
}
/*ligne filtres*/
.categories
{
  width: 55em;
  height: 5em;
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.filtres
{
  width: 3em;
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
h5
{
  font-size: 1em;
}
h6
{
  font-size: 1em;
  margin-left: 1em;

}
h6:hover
{
  font-size: 1.1em;
  color: #0065FC;
  border-radius: 0.5em;
  cursor: pointer;
}
.economique 
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 10em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.billet 
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
.familial
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 9em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.enfant
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
.romantique
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 10em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.coeur
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
.animaux
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 13em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.chien
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
/*ligne logo information*/
.information
{
  height: 2em;
  width: 28.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info
{
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2em solid #F2F2F2;
  border-radius: 1em 1em 1em 1em;
  font-size: 0.8em;
  color: #0065FC;
}

/*SECTION HEBERGEMENTS_START*/
/*Contenant hébergements + populaires*/
.sectionhebergement
{
  display: flex;
  justify-content: space-between;
  padding-top: 1.8em;
  height: 40em;
  width: 100%;
}
/*Contenant hebergements a Marseille*/
.hebergement
{
  height: 39em;
  width: 56em;
  background-color: #F2F2F2;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
}
/*titre "hebergement à marseille"*/
#hm 
{
  margin-left: 1.8em;
  margin-top: 1.8em;
  font-size: 1.3em;
  font-weight: bold;
}
/*contenant 3 photos 1ére & 2éme rangée*/
.range1,.range2
{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 14em;
  width: 56em;
}
/*contenants individuels des photos avec textes & étoiles dans "hébergements à marseille"*/
.hotelr1,.hotelr2
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 15.5em;
  background-color: white;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  cursor: pointer;
}
/*contenant des photos*/
.img1,.img2,.img3,.img4,.img5,.img6
{
  height: 6.6em;
  width: 14.7em;
  border-radius: 1.4em 1.4em 0em 0em;
}
.auberge1,.hduport,.mouettes,.hmer,.panier,.amina
{
  height: 6.6em;
  width: 14.7em;
  border-radius: 1.4em 1.4em 0em 0em;
  float:right;
  border:transparent;
  object-fit: cover;
}
/*contenant texte en dessous des photos*/
.note1,.note2,.note3,.note4,.note5,.note6
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.5em;
  width: 14.5em;
  border-radius: 0em 0em 1.5em 1.5em;
}
/*contenant titre*/
.ti
{
  height: 1em;
  font-size: 1em;
  font-weight: bold;
}
/*contenant nuit a partir de*/
.sou
{
  height: 1em;
  font-size: 0.9em;
}
/*contenant des étoiles*/
.etoiles,.etoilespopu
{
  display: flex;
  align-items: flex-start;
  height: 1em;
  width: 14em;
  font-size: 0.8em;
}
.ti,.sou,.etoiles
{
  padding-left: 0.5em;
}
.tit
{
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.6em;
}
.sout
{
  font-size: 0.9em;
  padding-top: 0.8em;
}
.etoilespopu
{
  padding-top: 2.5em;
}
.tit,.sout,.etoilespopu
{
  padding-left: 0.9em;
}
/*étoiles bleu*/
.bleus
{
  display: flex;
  height: 1em;
  width: 1em;
  color: #0065FC;
  padding-left: 0.2em;
}
/*étoiles grises*/
.gris 
{
  display: flex;
  height: 1em;
  width: 1em;
  color:#F2F2F2;
}
/*texte "afficher plus" */
.afficher
{
  font-size: 1em;
  margin-left: 2em;
  margin-top: 1.4em;
  font-weight: bold;
}
/*Contenant les plus populaires*/
.populaires
{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 39em;
  width: 30em;
  background-color: #F2F2F2;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
}
/*texte "les plus populaires*/
.popu
{
  display: flex;
  justify-content: space-between;
  height: 2em;
  width: 18em;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
}
/*petit graphique*/
.fa-chart-line
{

  height: 1.2em;
  width: 1.2em;
  font-size: 1.2em;
}
/*contenant photo et textes x3*/
.hotelr3
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.8em;
  width: 25em;
  background-color: white;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  margin-top: 1.5em;
  cursor: pointer;
}
.img7,.img8,.img9
{
  height: 8em;
  width: 12em;
  border-radius: 1.4em 0em 0em 1.4em;
  background-color: #0065FC;
}
.soleil,.aucoeur,.bleu
{
  height: 8em;
  width: 12em;
  border-radius: 1.4em 0em 0em 1.4em;
  float:left;
  border:transparent;
  object-fit: cover;
}
.note7,.note8,.note9
{
  height: 8em;
  width: 12em;
  border-radius: 0em 1.5em 1.5em 0em;
}
      /*SECTION ACTIVITES_START*/
.activites
{
  width: 100%;
  height: 35em;
}
#titre
{
  margin-bottom: 1.2em;
}
/*contenant des 4 div*/
.marseille
{
  display: flex;
  justify-content: space-between;
}
/*contenant vieux port*/
.vieux_port 
{
  width: 19em;
  height: 29em;
  border:transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  overflow:auto;
}
/*img_vieux_port*/
.vieuxport
{
  height: 25em;
  width: 29em;
  float:right;
  border:transparent;
  object-fit: cover;
}
h4
{
  padding-left: 2em;
  padding-top: 25em;
}
/*contenant fort de pomegues et iles*/
.fort_iles
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19em;
  height: 29em;
  border: transparent;
}
/*contenant pomegues*/
.pomegues
{
  height: 15em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
}
/*img_fort pomegues*/
.fort
{
  height: 11em;
  width: 19em;
  border-radius: 1.5em 1.5em 0em 0em;
  float: right;
  object-fit: cover;
}
.ph1, .ph2, .ph3, .ph4
{
  font-size: 1em;
  font-weight: bold;
}
.ph1,.ph2,.ph3,.ph4
{
  padding-left: 2em;
}
.ph1
{
  padding-top: 11.5em;
}
.ph2
{
  padding-top: 7.3em;
}
.ph3{
  padding-top: 8.5em;
}
.ph4
{
  padding-top: 10.3em;
}
/*contenant frioul*/
.frioul
{
  height: 11em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
}
/*img_iles de frioul*/
.iles
{
  height: 7em;
  width: 19em;
  float: right;
  border-radius: 1.5em 1.5em 0em 0em;
  object-fit: cover;
}
/*contenant parc des calanques*/
.parc
{
  width: 19em;
  height: 29em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  overflow: auto;
}
/*img_parc*/
.parc_nationnal
{
  height: 25em;
  width: 30em;
  float: right;
  border: transparent;
  object-fit: cover;
}
/*contenant notre dame et longchamp*/
.notre_parc
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19em;
  height: 29em;
  border: transparent;
}
/*contenant notre dame*/
.notre_dame
{
  height: 12em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2; 
}
/*img_notre dame*/
.dame
{
  height: 8em;
  width: 19em;
  float: right;
  border-radius: 1.5em 1.5em 0em 0em;
  object-fit: cover;
}
/*contenant parc longchamp*/
.parc_longchamp
{
  height: 14em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
}
/*img_parc longchamp*/
.longchamp
{
  height: 10em;
  width: 19em;
  float: right;
  border-radius: 1.5em 1.5em 0em 0em;
  object-fit: cover;
}
/*FOOTER_START*/
footer
{
  display: flex;
  width: 100%;
  height: 14em;
  background-color:#F2F2F2;
}

.apropos
{
  width: 29em;
  height: 10em;
  margin-left: 3em;
}
.hebergements
{
  width: 29em;
  height: 10em;
}
.assistance
{
  width: 29em;
  height: 10em;
}
h3
{
  font-size: 1.3em;
}