
body
{
  font-family : 'Raleway', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 1440px;
}
/*HEADER_START*/
header
{
    height: 5em;
    display: flex;
    width: 100%;
}
#logoreservia
{
  width:auto;
  height: 3.5em;
  color: #0065FC;
  margin-top: 2em;
}
nav
{
  display: flex;
  align-items: flex-end;
  justify-content:space-between;
  width: 19em;
  height: 5em;
  margin-left: 53em;
}
a
{
  width: 7em;
  text-decoration: none;
  color: black;
}
.divinscrire
{
  display: flex;
  align-items: flex-end;
  width: 7em;
  height: 5em;
  color: #0065FC;
  font-weight: bold;
  cursor: pointer;
}
.divreservia,.divinscrire
{
  display: flex;
  justify-content: space-between;
}
.lienactivites
{
  margin-right: 1em;
}
nav a:hover {
  border-top: 0.2em solid #0065fc;
  padding-top: 3em;
  color: #0065fc;
}
/*HEADER_END*/
/*SECTION TROUVER*/
h1
{
   margin-top: 2em;
   font-size: 1.3em;
}
h2
{
  font-size: 0.9em;
  font-weight: normal;
}
/*barre de recherche*/
form
{
  width: 32em;
  height: 3em;
  display: flex;
  border-color: #F2F2F2;
}
.divicon  
{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  background-color: #F2F2F2;
  border-radius: 1em 0em 0em 1em;
}
input
{
  font-family: 'raleway', sans-serif;
  margin-left: 2em;
}
.search
{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1em solid #F2F2F2;
}
#barre /*disparition contour*/
{
  border: none;
}
input:focus  /*disparition du contour quand on clique dedans*/
{
  outline: transparent;
}
::placeholder
{
  font-weight: bold;
  color: black;
  font-size: 1.2em;
}
/*BOUTON BLEU rechercher*/
button
{
  height: 3.6em;
  width: 7em;
}
.rechercher
{
  background-color: #0065FC;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  border-radius:0em 1em 1em 0em;
  cursor: pointer;
}
.buttonsearch /*pour petit ecran*/
{
  display: none;
}
.fa-search
{
  font-size: 3em;
  color: white;
  text-align: center;
}
/*ligne Filtres*/
.divoffiltres
{
  width: 55em;
  height: 5em;
  display: flex;
  justify-content:space-between;
  align-items:center;
}
.divtextfiltres
{
  width: 3em;
  height: 2.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}
h5
{
  font-size: 1em;
}
h6
{
  font-size: 1em;
  margin-left: 1em;

}
h6:hover
{
  font-size: 1.1em;
  color: #0065FC;
  cursor: pointer;
}
.diveconomique 
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 10em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.divbillet 
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
.divfamilial
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 9em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.divenfant
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
.divromantique
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 10em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.divcoeur
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
.divanimaux
{
  display: flex;
  align-items: center;
  height: 2.2em;
  width: 13em;
  border: 0.1em solid #F2F2F2;
  border-radius: 1.5em;
}
.divchien
{
  height: 2.3em;
  width: 2.3em;
  display: flex;
  justify-content:center;
  align-items: center;
  color: #0065FC;
  background-color: #F2F2F2;
  border-radius: 2em;
}
/*ligne  information*/
.divinformation
{
  height: 2em;
  width: 28.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.diviconinfo
{
  height: 1.5em;
  width: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2em solid #F2F2F2;
  border-radius: 1em 1em 1em 1em;
  font-size: 0.8em;
  color: #0065FC;
}

/*                                SECTION HEBERGEMENTS_START                         */
/*Contenant hébergements + populaires*/
.sectionhebergement
{
  display: flex;
  justify-content: space-between;
  padding-top: 1.8em;
  height: 40em;
  width: 88em;
}
/*Contenant hebergements a Marseille*/
.divhebergement
{
  height: 39em;
  width: 56em;
  background-color: #F2F2F2;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
}
/*titre "hebergement à marseille"*/
#texth1 
{
  margin-left: 1.8em;
  margin-top: 1.8em;
  font-size: 1.3em;
  font-weight: bold;
}
/*contenant 3 photos 1ére & 2éme rangée*/
.divrange1,.range2
{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  height: 14em;
  width: 56em;
}
/*contenants individuels des photos avec textes & étoiles dans "hébergements à marseille"*/
.hotelr1,.hotelr2
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 12em;
  width: 15.5em;
  background-color: white;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  cursor: pointer;
}
/*contenant des photos*/
.divimg1,.divimg2,.divimg3,.divimg4,.divimg5,.divimg6
{
  height: 6.6em;
  width: 14.7em;
  border-radius: 1.4em 1.4em 0em 0em;
}
.auberge1,.hduport,.mouettes,.hmer,.panier,.amina
{
  height: 6.6em;
  width: 14.7em;
  border-radius: 1.4em 1.4em 0em 0em;
  float:right;
  border:transparent;
  object-fit: cover;
}
/*contenant texte en dessous des photos*/
.divtext1,.divtext2,.divtext3,.divtext4,.divtext5,.divtext6
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 4.5em;
  width: 14.5em;
  border-radius: 0em 0em 1.5em 1.5em;
}
/*contenant titre*/
.nomhotel
{
  height: 1em;
  font-size: 1em;
  font-weight: bold;
}
/*contenant nuit a partir de*/
.prix
{
  height: 1em;
  font-size: 0.9em;
}
/*contenant des étoiles*/
.divetoiles,.divetoilespopulaires
{
  display: flex;
  align-items: flex-start;
  height: 1em;
  width: 14em;
  font-size: 0.8em;
}
.nomhotel,.prix,.divetoiles
{
  padding-left: 0.5em;
}
.nomhotelpopulaires
{
  font-size: 1em;
  font-weight: bold;
  padding-top: 0.6em;
}
.prixnuit
{
  font-size: 0.9em;
  padding-top: 0.8em;
}
.divetoilespopulaires
{
  padding-top: 2.5em;
}
.nomhotelpopulaires,.prixnuit,.divetoilespopulaires
{
  padding-left: 0.9em;
}
/*étoiles bleu*/
.starblue
{
  display: flex;
  height: 1em;
  width: 1em;
  color: #0065FC;
  padding-left: 0.2em;
}
/*étoiles grises*/
.stargrey
{
  display: flex;
  height: 1em;
  width: 1em;
  color:#F2F2F2;
}
/*texte "afficher plus" */
.afficher
{
  font-size: 1em;
  margin-left: 2em;
  margin-top: 1.4em;
  font-weight: bold;
}
/*     Contenant les plus populaires  */
.divpluspopulaires
{
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 39em;
  width: 30em;
  background-color: #F2F2F2;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
}
/*texte "les plus populaires*/
.texticonpluspopulaires
{
  display: flex;
  justify-content: space-between;
  height: 2em;
  width: 18em;
  font-size: 1.3em;
  font-weight: bold;
  margin-left: 0em;
  margin-top: 1.8em;
  margin-bottom: 0.5em;
}
/*petit graphique*/
.fa-chart-line
{
  height: 1.2em;
  width: 1.2em;
  font-size: 1.2em;
}
/*contenant photo et textes x3*/
.hotelr3
{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 8.8em;
  width: 25em;
  background-color: white;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  margin-top: 1.5em;
  cursor: pointer;
}
.divimg7,.divimg8,.divimg9
{
  height: 8em;
  width: 12em;
  border-radius: 1.4em 0em 0em 1.4em;
}
.imgsoleil,.imgaucoeur,.imgbleu
{
  height: 8em;
  width: 12em;
  border-radius: 1.4em 0em 0em 1.4em;
  float:left;
  border:transparent;
  object-fit: cover;
}
.divtext7,.divtext8,.divtext9
{
  height: 8em;
  width: 12em;
  border-radius: 0em 1.5em 1.5em 0em;
}
      /*                                       SECTION ACTIVITES_START                    */
.activites
{
  height: 35em;
  width: 88em;
}
#titre
{
  margin-bottom: 1.2em;
}
/*contenant des 4 div*/
.marseille
{
  display: flex;
  justify-content: space-between;
}
/*contenant vieux port*/
.divvieux_port 
{
  width: 19em;
  height: 29em;
  border:transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  overflow:auto;
  cursor: pointer;
}
/*img_vieux_port*/
.vieuxport
{
  height: 25em;
  width: 29em;
  float:right;
  border:transparent;
  object-fit: cover;
}
h4
{
  padding-left: 2em;
  padding-top: 25em;
}
/*contenant fort de pomegues et iles*/
.divfort_iles
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19em;
  height: 29em;
  border: transparent;
}
/*contenant pomegues*/
.pomegues
{
  height: 15em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  cursor: pointer;
}
/*img_fort pomegues*/
.fort
{
  height: 11em;
  width: 19em;
  border-radius: 1.5em 1.5em 0em 0em;
  float: right;
  object-fit: cover;
}
.nomimg1, .nomimg2, .nomimg3, .nomimg4
{
  font-size: 1em;
  font-weight: bold;
  padding-left:  2em;
}
.nomimg1
{
  padding-top: 11.5em;
}
.nomimg2
{
  padding-top: 7.3em;
}
.nomimg3
{
  padding-top: 8.5em;
}
.nomimg4
{
  padding-top: 10.3em;
}
/*contenant frioul*/
.frioul
{
  height: 11em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  cursor: pointer;
}
/*img_iles de frioul*/
.iles
{
  height: 7em;
  width: 19em;
  float: right;
  border-radius: 1.5em 1.5em 0em 0em;
  object-fit: cover;
}
/*contenant parc des calanques*/
.divparc
{
  width: 19em;
  height: 29em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  overflow: auto;
  cursor: pointer;
}
/*img_parc*/
.parc_nationnal
{
  height: 25em;
  width: 30em;
  float: right;
  border: transparent;
  object-fit: cover;
}
/*contenant notre dame et longchamp*/
.divnotre_parc
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 19em;
  height: 29em;
  border: transparent;
}
/*contenant notre dame*/
.notre_dame
{
  height: 12em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2; 
  cursor: pointer;
}
/*img_notre dame*/
.dame
{
  height: 8em;
  width: 19em;
  float: right;
  border-radius: 1.5em 1.5em 0em 0em;
  object-fit: cover;
}
/*contenant parc longchamp*/
.parc_longchamp
{
  height: 14em;
  width: 19em;
  border: transparent;
  border-radius: 1.5em 1.5em 1.5em 1.5em;
  box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
  cursor: pointer;
}
/*img_parc longchamp*/
.longchamp
{
  height: 10em;
  width: 19em;
  float: right;
  border-radius: 1.5em 1.5em 0em 0em;
  object-fit: cover;
}
/*                               FOOTER_START                                    */
footer
{
  display: flex;
  height: 14em;
  width: 88em;
  background-color:#F2F2F2;
}

.apropos
{
  width: 29em;
  height: 10em;
  margin-left: 3em;
}
.hebergements
{
  width: 29em;
  height: 10em;
}
.assistance
{
  width: 29em;
  height: 10em;
}
h3
{
  font-size: 1.3em;
}
/*       ---------            RESPONSIVE        -------------------  */
@media screen and (max-width:1439px) 
{
  body
  {
    width: auto;
  }
  .divreservia,.texttrouver,h2,form,.divoffiltres,.divinformation
  {
    margin-left: 0.5em;
  }
  .sectionhebergement
  {
    display: flex;
    flex-direction: column;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  nav 
  {
    margin-left: auto;
  }
  .divhebergement
  {
    width: auto;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .divpluspopulaires
  {
    width: auto;
    height: 40em;
    margin-top: 1em;
    margin-right: 0.5em;
    margin-left: 0.5em;
  }
  .activites
  {
    height: auto;
    width: 56em;
    margin-left: auto;
    margin-right: auto;
  }
  .pomegues,.frioul,.notre_dame,.parc_longchamp
  {
    margin-left: 8em;
  }
  .marseille
  {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    height: 65em;
    width: 56em;
    margin-left: auto;
    margin-right: auto;
  }
  footer 
  {
    height: auto;
    width:auto ;
    margin-right: auto;
    margin-left: auto;
  }
  
}

@media screen and (max-width:965px) 
{
    
    header
    {
      display: grid;
      grid-template-columns: 50% 1fr;
      grid-template-rows: 60% 1fr;
      height: 20em;
      width: auto;
    }
    .divreservia
    {
      width: 8em;
      height: 6em;
    }
    #logoreservia 
    {
      height: 7em;
      width: auto;
    }
    nav
    {
      margin-left: 0em;
      width: 40em;
      height: 7.2em;
    }
    .lienhebergements
    {
      height: 4em;
      grid-column-start: 1;
      grid-row-start: 1;
      width: 10em;
      font-size: 2.4em;
    }
    .lienactivites
    {
      height: 4em;
      grid-column-start: 2;
      grid-row-start: 2;
      width:10em;
      font-size: 2.4em;
      margin-right: 0.8em;
    }
    .lienhebergements,.lienactivites
    {
      display: flex;
      justify-content: center;
      align-items: center;

    }
    nav a:hover 
    {
      border-bottom: 0.2em solid #0065fc;
      border-top: none;
      padding-bottom: 0.1em;
      color: #0065fc;
    }
    .divinscrire
    {
      grid-column-start: 2;
      grid-row-start: 1;
      padding-left: 0em;
      height: 2em;
      font-size: 1.5em;
      margin-top: 3.2em;
      margin-left: 7em;
      width: 5em;
    }
/* SECTION TROUVER AVEC ZONE DE RECHERCHE ET FILTRES */    
    .section 
    {
      width: auto;
      height: 40em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .texttrouver
    {
      font-size: 3.5em;
      padding-top: 0.8em;
      margin-top: 0em;
    }
    h2 
    {
      font-size: 2.2em;
    }
    /*BARRE DE RECHERCHE*/
    form  /* contenant de la barre recherche */
    {
      height: 5.92em;
      width: 38em; 
    }
    .divicon
    {
      height: 6em;
      width: 8em;
      border-radius: 3em 0em 0em 3em;
    }
    .fa-map-marker-alt
    {
      font-size: 2.5em;
    }
    #barre
    {
      height: 3em;
      width: 13em;
      font-size: 1.9em;
      margin-left: 1em;
    }
    ::placeholder
    {
      height: 4em;
      width: 30em;
    }
    /*bouton bleu rechercher*/
    .buttonsearch
    {
       display: flex;
       align-items: center;
       justify-content: center;
       height: 7em;
       width: 8em;
       background-color: #0065FC;
       border: none;
       text-decoration: none;
       border-radius:0em 3.5em 3.5em 0em;
       cursor: pointer;
    }
    .rechercher
    {
      display: none;
    }
    /*LIGNE DES FILTRES*/
    .divoffiltres
    {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:  1fr 1fr 1fr;
      grid-template-areas:
      "filtres filtres"
      "economique familial"
      "romantique romantiques"
      "animaux animaux";
      height: auto;
      width: 40em;
    }
    .divtextfiltres
    {
      height: 2em;
      margin-left: 2em;
      
    }
    h5 
    {
      grid-area: filtres;
      font-size: 2em;
    }
    h6 
    {
      font-size: 2.3em;
      margin-left: 0.3em;
    }
    .diveconomique
    {
      grid-area: economique;
    }
    .divfamilial
    {
      grid-area: familial;
    }
    .divromantique
    {
      grid-area: romantique;
    }
    .divanimaux
    {
      grid-area: animaux;
    }
    .diveconomique,.divromantique
    {
      height: 5em;
      width: 21em;
      border: 0.2em solid #F2F2F2;
      border-radius: 3em 3em 3em 3em;
      margin-top: 1em;
    }
    .divromantique
    {
      width: 20em;
    }
    .divfamilial
    {
      height: 5em;
      width: 16em;
      border: 0.2em solid #F2F2F2;
      border-radius: 3em 3em 3em 3em;
      margin-top: 1em;
      margin-right: 2em;
    }
    .divanimaux
    {
      height: 5em;
      width: 29em;
      border: 0.2em solid #F2F2F2;
      border-radius: 3em 3em 3em 3em;
      margin-top: 1em;
    }
    .divbillet,.divenfant,.divcoeur,.divchien
    {
      height:5.5em ;
      width: 5.5em;
      border-radius: 3em;
    }
    /*logo filtres*/
    .fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog
    {
      font-size: 2em;
    }
    /*LIGNE INFORMATION*/
    .divinformation
    {
      height: 8em;
      width: 38em;
      justify-content:flex-start;
    }
    .diviconinfo
    {
      height: 2.5em;
      width: 2.5em;
      border: 0.2em solid #F2F2F2;
      border-radius: 1.5em 1.5em 1.5em 1.5em;
      font-size: 1.2em;
      width: 3em;
    }
    .textplus 
    {
      font-size: 1.7em;
      margin-left: 0.3em;
    }
/*                           SECTION HEBERGEMENTS                           */  
    .sectionhebergement
    {
      display: flex;
      flex-direction: column-reverse;
      width: auto;
      height: auto;
      margin-top: 3em;
    } 
    /* les plus populaires*/
    .divpluspopulaires
    {
      height: 80em;
      border-radius: 0em 0em 0em 0em;
    }
    .texticonpluspopulaires  /*texte et graphique*/
    {
      font-size: 2.5em;
      width: 13em;
    } 
    .hotelr3
    {
      height: 21em;
      width: 38em;
    } 
    .divimg7,.divimg8,.divimg9,.imgsoleil,.imgaucoeur,.imgbleu,.divtext7,.divtext8,.divtext9
    {
      height: 20em;
      width: 18.5em;
    }
    .nomhotelpopulaires,.prixnuit,.divetoilespopulaires
    {
      font-size: 1.9em;
    }
    .divetoilespopulaires
    {
      width: 7em;
      padding-top: 1em;
    }
  /*HEBERGEMENTS A MARSEILLE*/  
    .divhebergement
    {
      height: 248em;
      width: auto;
      margin-top: 3em;
      background-color: transparent;
      border: 0.2em solid #F2F2F2;
    }
    #texth1
    {
      font-size: 3em;
      width: 12.5em;
      margin-left: auto;
      margin-right: auto;
      margin-top: 1em;
    }
    .hotelr1,.hotelr2
    {
      height: 36em;
      width: 38em;
      box-shadow: 0.2em 0.2em 0.2em 0.2em #F2F2F2;
      border: 0.1em solid #F2F2F2;
    }
    .hotelr1
    {
      margin-top: 1.5em;
      margin-left: 1.5em;
    }
    .hotelr2
    {
      margin-top: 1em;
      margin-left: 1.5em;
    }
    .divrange1,.range2
    {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      height: 115em;
      width: 38em;
    }
    .divimg1,.divimg2,.divimg3,.divimg4,.divimg5,.divimg6
    {
      height: 21em;
      width: 37em;
      border-radius: 1.4em 1.4em 0em 0em;
    }
    .auberge1,.hduport,.mouettes,.hmer,.panier,.amina
    {
      height: 21em;
      width: 37em;
      border-radius: 1.4em 1.4em 0em 0em;
      float:right;
      border:transparent;
      object-fit: cover;
    }
    .divtext1,.divtext2,.divtext3,.divtext4,.divtext5,.divtext6
    {
      display: flex;
      justify-content: space-around;
      height: 13em;
      width: 37em;
      border-radius: 0em 0em 1.5em 1.5em;
    }
    .nomhotel,.prix,.divetoiles
    {
      font-size: 2em;
      margin-left: 1em;
    }
    .afficher
    {
      font-size: 2em;
      margin-left: 3em;
      margin-top: 2.5em;
    }
  /*        ACTIVITES A MARSEILLE      */
    .activites
    {
      height: 240em;
      width: 40em;
    }
    .marseille
    {
     display: flex;
     flex-direction: column;
     align-items: center;
     height: 226em;
     width: 40em;
    } 
    #titre
   {
     width: 9.5em;
     margin-left: auto;
     margin-right: auto;
     font-size: 4em;
    } 
    /* contenant images & textes */
    .divvieux_port,.pomegues,.frioul,.divparc,.notre_dame,.parc_longchamp
    {
      height:36em;
      width: 38em;
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      box-shadow:0.1em 0.2em 0.2em 0.1em #F2F2F2;
      margin-left: 0em;
    }
  /* textes sous images */
    h4,.nomimg3,.nomimg2,.nomimg1,.nomimg4
    {
      padding: 0em;
      font-size: 2.5em;
    }
  /* images activités */
    .vieuxport,.fort,.iles,.parc_nationnal,.dame,.longchamp
    {
      height: 25em;
      width: 37em;
      border-radius: 1.5em 1.5em 0em 0em;
      margin-top: 0.6em;
    }
  /* contenant avec 2 activités */
    .divfort_iles,.divnotre_parc
    {
      height: 74em;
      width: 38em;
    }
   /*      FOOTER     */
    footer
    {
      height: 76em;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: auto;
      margin-left: 0.5em;
      margin-right: 0.5em;

    }
    .apropos,.hebergements,.assistance
    {
      height: 25em;
      width: 38em;
      display: flex;
      flex-direction: column;
      margin-left: 3em;
    }
    .hebergements,.assistance
    {
      height: 20em;
    }
    h3 
    {
      font-size: 3em;
    }
    .textefooter
    {
      font-size: 2.5em;
      margin-top: 0.1em;
    }
}
@media screen and (max-width:639px)
{
  body
  {
     margin-left: auto;
     margin-left: auto;
  }

  header
  {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: 50% 1fr;
    height: 200px;
    width: auto;
    margin-left: 24px;
  }
  .divreservia
  {
    width: 128px;
    height: 96px;
  }
  #logoreservia 
  {
    height: 64px;
    width: auto;
  }
  nav
  {
    margin-left: 0px;
    width: 340px;
    height: 115.2px;
  }
  .lienhebergements
  {
    grid-column-start: 1;
    grid-row-start: 1;
    margin-left: 30px;
  }
  .lienactivites
  {
    grid-column-start: 2;
    grid-row-start: 2;
    margin-right: 3px;
    margin-left: auto;
  }
  .lienhebergements,.lienactivites
  {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    width: 120px;
    font-size: 1.2em;

  }
  nav a:hover 
  {
    border-bottom: 0.2em solid #0065fc;
    border-top: none;
    padding-bottom: 0.1em;
    color: #0065fc;
  }
  .divinscrire
  {
    grid-column-start: 2;
    grid-row-start: 1;
    padding-left: 0em;
    height: 32px;
    font-size: 1em;
    margin-top: 52px;
    margin-left: 60px;
    width: 80px;
  }
  main 
  {
    margin-left: 1.5em;
  }
/*                     SECTION TROUVER AVEC ZONE DE RECHERCHE ET FILTRES                   */    
  .section 
  {
    width: 304px;
    height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .texttrouver
  {
    font-size: 1.5em;
    padding-top: 0.8em;
    margin-top: 0em;
  }
  h2 
  {
    font-size: 1.1em;
  }
  /*BARRE DE RECHERCHE*/
  form  /* contenant de la barre recherche */
  {
    height: 62.4px;
    width: 304px;
    display: flex;

  }
  .search
  {
    height: 64px;
    width: 245px;
  }
  .divicon
  {
    height: 67.2px;
    width: 56px;
    border-radius: 16px 0px 0px 16px;
  }
  .fa-map-marker-alt
  {
    font-size: 1.7em;
  }
  #barre
  {
    height: 32px;
    width: 180px;
    font-size: 1.9em;
    margin-left: 0em;
  }
  ::placeholder
  {
    height: 64px;
    width: 190px;
    font-size: 0.7em;
  }
  .buttonsearch
  {
     height: 67px;
     width: 56px;
     border-radius:0px 16px 16px 0px;
  }
  .fa-search
  {
    font-size: 2em;
  }
  /*CONTENANT DES FILTRES*/
  .divoffiltres
  {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows:  1fr 1fr 1fr;
    grid-template-areas:
    "filtres filtres"
    "economique familial"
    "romantique romantiques"
    "animaux animaux";
    height: auto;
    width: auto;
  }
  .divtextfiltres
  {
    height: 32px;
    margin-left: 2em;
    
  }
  h5 
  {
    grid-area: filtres;
    font-size: 1.4em;
  }
  h6 /*texte a l'interieur des filtres*/
  {
    font-size: 0.9em;
    margin-left: 0.3em;
  }
  .diveconomique
  {
    grid-area: economique;
    width: 160px;
  }
  .divromantique
  {
    grid-area: romantique;
    width: 208px;
  }
  .diveconomique,.divromantique
  {
    height: 56.96px;
    border: 3.2px solid #F2F2F2;
    border-radius: 48px;
    margin-top: 1em;
  }
  .divfamilial
  {
    grid-area: familial;
    height: 56.96px;
    width: 140px;
    border: 3.2px solid #F2F2F2;
    border-radius: 48px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 0em;
  }
  .divanimaux
  {
    grid-area: animaux;
    height: 57.6px;
    width: 224px;
    border: 3.2px solid #F2F2F2;
    border-radius: 60px 48px 48px 60px;
    margin-top: 1em;
  }
  .divbillet,.divenfant,.divcoeur,.divchien
  {
    height: 64px;
    width: 64px;
    border-radius: 40px;
  }
  /*logo filtres*/
  .fa-money-bill-wave,.fa-child,.fa-heart,.fa-dog
  {
    font-size: 1.6em;
  }
  /*LIGNE INFORMATION*/
  .divinformation
  {
    height: 80px;
    width: auto;
  }
  .diviconinfo
  {
    height:30px;
    width: 33px;
    border: 3.2px solid #F2F2F2;
    border-radius: 32px;
    font-size: 0.8em;
  }
  .textplus 
  {
    font-size: 0.9em;
    margin-left: 0.3em;
    width: auto;
  }
/*                           SECTION HEBERGEMENTS                           */  
  .sectionhebergement
  {
    width: 350px;
    margin-top: 0em;
  } 
  /* LES PLUS POPULAIRES*/
  .divpluspopulaires
  {
    width: auto;
    height: 736px;
  }
  .texticonpluspopulaires  /*texte et graphique*/
  {
    font-size: 1.4em;
    width: 208px;
  } 
  .hotelr3
  {
    height: 176px;
    width: 280px;
  } 
  .divimg7,.divimg8,.divimg9,.imgsoleil,.imgaucoeur,.imgbleu,.divtext7,.divtext8,.divtext9
  {
    height: 160px;
    width: 160px;
  }
  .divtext7,.divtext8,.divtext9
  {
    width: 104px;
    height: 160px;
  }
  .nomhotelpopulaires,.prixnuit,.divetoilespopulaires
  {
    font-size: 0.9em;
  }
  .divetoilespopulaires
  {
    width: 80px;
    padding-top: 1em;
  }
/*HEBERGEMENTS A MARSEILLE*/  
  .divhebergement
  {
    height: 2080px;
    width: auto;
    border: 0em transparent;
  }
  #texth1
  {
    font-size: 1.5em;
    width: 210px;
  }
  .hotelr1,.hotelr2
  {
    height: 280px;
    width: 288px;
    box-shadow: 0.1em 0.1em 0.1em 0.1em #F2F2F2;
    margin-left: 0em;
  }
  .divrange1,.range2
  {
    height: 960px;
    width: 304px;
  }
  .divimg1,.divimg2,.divimg3,.divimg4,.divimg5,.divimg6
  {
    height: 176px;
    width: 280px;
  }
  .auberge1,.hduport,.mouettes,.hmer,.panier,.amina
  {
    height: 176px;
    width: 280px;
  }
  .divtext1,.divtext2,.divtext3,.divtext4,.divtext5,.divtext6
  {
    height: 96px;
    width: 288px;
  }
  .nomhotel,.prix,.divetoiles
  {
    font-size: 1em;
    margin-left: 1em;
  }
  .afficher
  {
    font-size: 1em;
    margin-left: 1em;
    margin-top: 2.5em;
  }
/*        SECTION       ACTIVITES A MARSEILLE                */
  .activites /*section*/
  {
    height: 1984px;
    width: 330px;
  }
  .marseille
  {
   height: 1824px;
   width: auto;
  } 
  #titre
 {
   margin: 0em;
   font-size: 1.6em;
   margin-top: 1.5em;
   margin-left: 1.2em;
   width: auto;
  } 
  /* contenant images & textes */
  .divvieux_port,.pomegues,.frioul,.divparc,.notre_dame,.parc_longchamp
  {
    height: 272px;
    width: 304px;
  }
/* textes sous images */
  h4,.nomimg3,.nomimg2,.nomimg1,.nomimg4
  {
    font-size: 1.2em;
    margin-top: 1.6em;
  }
/* images activités */
  .vieuxport,.fort,.iles,.parc_nationnal,.dame,.longchamp
  {
    height: 176px;
    width: 288px;
  }
/* contenant avec 2 activités */
  .divfort_iles,.divnotre_parc
  {
    height: 592px;
    width: 304px;
  }
  .frioul,.notre_dame,.parc_longchamp,.pomegues
  {
    margin-left: 0em;
  }
 /*              FOOTER                 */
  footer
  {
    height: 800px;
    display: flex;
    justify-content:flex-start;
  }
  .apropos
  {
    height: 224px;
    width: 256px;
    margin-left: 1.5em;
    margin-top: 2em;
  }
  .hebergements,.assistance
  {
    height: 192px;
    width: 256px;
    margin-top: 1.5em;
    margin-left: 1.5em;
  }
  h3 
  {
    font-size: 1.6em;
  }
  .textefooter
  {
    font-size: 1em;
    margin-top: 0.1em;
  }
}